<div class="w-100 d-flex home">
    <h3>Welcome, Admin </h3>
    <div class="d-flex justify-content-around w-100 mt-5">
        <div class="card">
            <h1 class="display-5" (click)="goTo('tickets')">Resolve Queries</h1>
        </div>
        <div class="card">
            <h1 class="display-5" (click)="goTo('products')">Manage Products</h1>
        </div>
        <div class="card">
            <h1 class="display-5" (click)="goTo('users')">Manage User Accounts</h1>
        </div>
    </div>
</div>